.about_section{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5rem;
}

.image{
  background-color: black;
  max-width: 40rem;
  height: 100vh;
}

.astronaut{
  width: 70%;
  height:auto;
  padding-top:5rem;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 35rem;

}