.card_container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 24rem;
  min-height: 40rem;
  max-width: 24rem;
  max-height: 40rem;
}

.image_section{
  min-width: 21rem;
  min-height: 23rem;
  max-width: 23rem;
  max-height: 25rem;
}

.image {
  width: 88%;
  height: 89%;
}

.title_section {
  background-color: black;
  color: white;
  height: 10rem;
}
