.body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  height: 40rem;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

}

.description_title{
  font-size: 3rem;
}

.description_text{
  max-width: 30rem;
}

.links_section{
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 3rem;
}

@media(max-width: 768px){
  .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 40rem;
  }
}